/* Reset all elements and prevent overflow */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Alef', serif;
    background-color: #efeae5;
}

/* Hero Section */
.hero-container {
    display: flex;
    justify-content: space-between;
    /* Align text and image side by side */
    align-items: center;
    min-height: 50vh;
    width: 100vw;
    /* Ensure it takes full width */
    background-color: #efeae5;
}

.text-content {
    flex: 1;
    text-align: center;
    padding: 20px;
    color: #333;
    max-width: 550px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f6f6f6;
    border: 1px solid #000;
}

.text-content h1 {
    font-size: 2.4em;
    color: black;
}

.text-content p {
    font-size: 1.2em;
    color: black;
    margin: 5px 0;
}

.image-content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-content img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}

/* Stats Section */
.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6ced1;
    padding: 30px 0;
    width: 100%;
    /* Ensure full width */
}

.stat-item {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.stat-item img {
    max-width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.stat-item h2 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 10px;
}

.stat-item p {
    font-size: 1.2em;
    color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .image-content img {
        max-width: 100%;
    }

    .stats-container {
        flex-direction: column;
    }
}