<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/about.css">
    <script src="../js/includeHTML.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Include the header component -->
    <div data-include="header.html"></div>

    <div class="project-container">
        <h1>בנימה אישית</h1>
        <p>בקרוב</p>
    </div>
</body>
</html>
