<!DOCTYPE html>
<html lang="he"> <!-- Switch to 'he' for Hebrew language declaration -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <base href="/Hila_web/">
    <link rel="stylesheet" href="CSS/header.css">
    <link rel="stylesheet" href="CSS/courses.css">
    <script src="js/includeHTML.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Include the header component -->
    <div data-include="Templates/header.html"></div>

    <!-- Why Me Section -->
    <div class="whyme" dir="rtl">
        <h1>למה דווקא אצלי?</h1>
        <p>
            היקף הלימודים בכל אחת מההשתלמויות הוא נרחב ומעמיק, כמתבקש מהכבוד אותו אני רוכשת לכן ולמטופלים שלכן.
        </p>
        <p>הוראה מתקנת איננה עניין של מה בכך. אני רוצה שתצאנה מקצועיות ביותר,</p>
        <p>כפועל יוצא מכך, מי שלמדה אצלי בהשתלמות כלשהי, יכולה לחזור עליה כמה פעמים שהיא רוצה, בשנים שלאחר מכן, ללא עלות נוספת.</p>
        <p>כך נשמר הקשר ביננו, ישנה חזרה על דברים שלא הובנו, וישנה מסגרת בה ניתן לשאול שאלות שצצות רק אחרי שמתחילים לעבוד וחווים את הדברים בשטח.</p>
        <br>
        <p>אני מודעת לכך שההשתלמויות דורשות מכן משאבים לא מבוטלים של זמן ותקציב, אך מאמינה מאוד בדרך הלמידה הזו.</p>
        <br>
        <h2>רכישת השתלמות מקנה את היכולת לחזור עליה</h2>
        <h2>ללא עלות נוספת, וללא הגבלה על מספר החזרות.
        </h2>
        <a href="Templates/register.html">
            <button class="whyme-button">להרשמה</button>
        </a>
        
    </div>
    
 <!-- courses type section -->
    <div class="course-types" dir="rtl">
        <h1>אופן הלימוד בהשתלמויות</h1>
        <div class="course-type-container">
            <div class="course-box">
                <h2><img src="images/CourseTypeIcon.png" class="course-icon">השתלמויות מקוונות</h2>
                <p>ההשתלמויות המקוונות הן במתכונת מסונכרנת, כלומר, יש בהן חובת נוכחות פעילה. ההשתתפות בשיעור דורשת שימוש במצלמה ובמקרופון תקינים. יודגש כי ההשתלמויות אינן מבוססות על שליחת שיעורים מוקלטים מראש, תהיה אפשרות לקבל, באופן חד פעמי, הקלטה של השיעור במקרה של מחלה או העדרות חד פעמית, אך לא ניתן ללמוד את הקורס רק על סמך הקלטות שנשלחות מידי שבוע</p>
            </div>
            <div class="course-box">
                <h2><img src="images/CourseTypeIcon.png" class="course-icon">השתלמויות פרונטליות</h2>
                <p>הלימוד יתבצע  בנס ציונה (בית האזרח הוותיק, רח בן גוריון 9). ההשתלמויות הפרונטליות מתנהלות באופן היברידי, כך שניתן ללמוד בחדר הכיתה או מהבית לפי בחירה (כלומר ניתן להצטרף לשיעורים הפרונטליים מהזום, אם כי מומלץ להגיע). בקורס הפרונטלי ישולבו גם שיעורים מקוונים מידי פעם. יודגש כי אם תהיינה מגבלות של משרד הבריאות- הקורסים הפרונטליים יתנהלו בלמידה</p>
            </div>
            <div class="course-box">
                <h2><img src="images/CourseTypeIcon.png" class="course-icon">השתלמויות קצרות מועד</h2>
                <p>לפרטים יש ליצור קשר באופן אישי</p>
            </div>
            <div class="course-box">
                <h2><img src="images/CourseTypeIcon.png" class="course-icon">השתלמויות חד יומיות</h2>
                <p>לפרטים יש ליצור קשר באופן אישי</p>
            </div>
        </div>
    </div>



<!-- Current Courses Section -->
<div class="current-courses" dir="rtl">
    <h1>השתלמויות תשפ"ה</h1>
    <div class="current-course-container">
        <div class="cur-course-box">
            <h2>הוראה מתקנת בחשבון</h2>
            <img src="images/calc.png" alt="Math Icon">
        </div>
        <div class="cur-course-box">
            <h2>הוראה מתקנת בקריאה</h2>
            <img src="images/הוראה מתקנת בקריאה.png" alt="Reading Icon">
        </div>
        <div class="cur-course-box">
            <h2>הוראה מתקנת בכתיבה</h2>
            <img src="images/הוראה מתקנת בכתיבה.png" alt="Writing Icon">
        </div>
        <div class="cur-course-box">
            <h2>תקינות מול אי תקינות בתהליכי למידה</h2>
            <img src="images/תקינות מול אי תקינות.png" alt="Learning Icon">
        </div>
        <div class="cur-course-box">
            <h2>היבטים רגשיים והתנהגותיים</h2>
            <img src="images/הוראה מתקנת.png" alt="Emotion Icon">
        </div>
        <div class="cur-course-box">
            <h2>כיתה א' לקריאה</h2>
            <img src="images/אוריינות מוקדמת.png" alt="First Grade Icon">
        </div>
    </div>
</div>



<!-- Schedule Section -->
<div class="schedule-section" dir="rtl">
    <h1>מערכת שעות תשפ"ה</h1>

    <!-- Horizontal Schedule Table for larger screens -->
    <div class="schedule-container">
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>יום</th>
                    <th>בוקר (9:00-12:15)</th>
                    <th>אחה"צ (16:45-20:00)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ראשון</td>
                    <td>-</td>
                    <td class="highlight">
                        <p class="course-name">הוראה מתקנת בקריאה</p>
                        <p>שנתי מקוון</p>
                        <p>4,300 ש"ח</p>
                        <p><span class="course-date">תאריך פתיחה: 27.10.24</span></p>
                        <p>120 שעות אקדמיות</p>
                        <p>סיום משוער: יוני 25</p>
                    </td>
                </tr>
                <tr>
                    <td>שני</td>
                    <td class="highlight">
                        <p class="course-name">הוראה מתקנת בקריאה</p>
                        <p>שנתי מקוון</p>
                        <p>4,300 ש"ח</p>
                        <p><span class="course-date">תאריך פתיחה: 28.10.24</span></p>
                        <p>120 שעות אקדמיות</p>
                        <p>סיום משוער: יוני 25</p>
                    </td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>שלישי</td>
                    <td>-</td>
                    <td class="highlight">
                        <p class="course-name">הוראה מתקנת בחשבון</p>
                        <p>שנתי מקוון</p>
                        <p>4,300 ש"ח</p>
                        <p><span class="course-date">תאריך פתיחה: 29.10.24</span></p>
                        <p>120 שעות אקדמיות</p>
                        <p>סיום משוער: יוני 25</p>
                    </td>
                </tr>
                <tr>
                    <td>רביעי</td>
                    <td>-</td>
                    <td class="highlight">
                        <p class="course-name">לקראת כתה א'</p>
                        <p>שנתי מקוון</p>
                        <p>4,300 ש"ח</p>
                        <p><span class="course-date">תאריך פתיחה: 30.10.24</span></p>
                        <p>120 שעות אקדמיות</p>
                        <p>סיום משוער: יוני 25</p>
                    </td>
                </tr>
                <tr>
                    <td>חמישי</td>
                    <td class="highlight">
                        <p class="course-name">היבטים רגשיים והתנהגותיים</p>
                        <p>שנתי מקוון</p>
                        <p><span class="course-date">תאריך פתיחה: 31.10.24</span></p>
                        <p>120 שעות אקדמיות</p>
                        <p>סיום משוער: יוני 25</p>
                    </td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Small Screen Schedule for mobile -->
    <div class="small-screen-schedule">
        <div class="day-course">
            <h3>יום ראשון</h3>
            <p class="course-name">הוראה מתקנת בקריאה - אחה"צ</p>
            <p>שנתי מקוון</p>
            <p>4,300 ש"ח</p>
            <p><span class="course-date">תאריך פתיחה: 27.10.24</span></p>
            <p>120 שעות אקדמיות</p>
        </div>
        <div class="day-course">
            <h3>יום שני</h3>
            <p class="course-name">הוראה מתקנת בקריאה - בוקר</p>
            <p>שנתי מקוון</p>
            <p>4,300 ש"ח</p>
            <p><span class="course-date">תאריך פתיחה: 28.10.24</span></p>
            <p>120 שעות אקדמיות</p>
        </div>
        <div class="day-course">
            <h3>יום שלישי</h3>
            <p class="course-name">הוראה מתקנת בחשבון - אחה"צ</p>
            <p>שנתי מקוון</p>
            <p>4,300 ש"ח</p>
            <p><span class="course-date">תאריך פתיחה: 29.10.24</span></p>
            <p>120 שעות אקדמיות</p>
        </div>
        <div class="day-course">
            <h3>יום רביעי</h3>
            <p class="course-name">לקראת כתה א' - אחה"צ</p>
            <p>שנתי מקוון</p>
            <p>4,300 ש"ח</p>
            <p><span class="course-date">תאריך פתיחה: 30.10.24</span></p>
            <p>120 שעות אקדמיות</p>
        </div>
        <div class="day-course">
            <h3>יום חמישי</h3>
            <p class="course-name">היבטים רגשיים והתנהגותיים - בוקר</p>
            <p>שנתי מקוון</p>
            <p>4,300 ש"ח</p>
            <p><span class="course-date">תאריך פתיחה: 31.10.24</span></p>
            <p>120 שעות אקדמיות</p>
        </div>
    </div>
</div>





 <!-- Pricing Section -->
<div class="pricing-container" dir="rtl">

    <div class="pricing-box">
        <h1>מקוון</h1>
        <div class="pricing-details">
            <p><strong>השתלמות אחת</strong></p>
            <p class="price">4300 <span>ש"ח</span></p>
        </div>
        <div class="pricing-details">
            <p><strong>שתי השתלמויות</strong></p>
            <p class="price">8000 <span>ש"ח</span></p>
        </div>
        <div class="pricing-details">
            <p><strong>שלוש או יותר</strong></p>
            <p class="moredetails"> יש ליצור קשר לפרטים נוספים</p> 
        </div>
        <ul>
            <li>✔ ידע מעשי מהשיעור הראשון</li>
            <li>✔ מוכרת לשנת שבתון</li>
            <li>✔ תעודת גמר חתומה</li>
            <li>✔ כלים מעשיים ועזרים כוללים</li>
            <li>✔ השתתפות מכל מקום</li>
            <li>✔ השומה לב אישית</li>
            <li>✔ חזרה על ההשתלמות ללא עלות נוספת</li>
        </ul>
        <a href="Templates/register.html">
            <button class="pricing-button">לרכישה</button>
        </a>
    </div>

    <div class="pricing-box">
        <h1>פרונטלי</h1>
        <div class="pricing-details">
            <p><strong>השתלמות אחת</strong></p>
            <p class="price">4600 <span>ש"ח</span></p>
        </div>
        <div class="pricing-details">
            <p><strong>שתי השתלמויות</strong></p>
            <p class="price">8200 <span>ש"ח</span></p>
        </div>

        <div class="pricing-details">
            <p><strong>שלוש או יותר</strong></p>
            <p class="moredetails"> יש ליצור קשר לפרטים נוספים</p> 
        </div>
        <ul>
            <li>✔ ידע מעשי מהשיעור הראשון</li>
            <li>✔ מוכרת לשנת שבתון</li>
            <li>✔ תעודת גמר חתומה</li>
            <li>✔ כלים מעשיים ועזרים כוללים</li>
            <li>✔ אפשרות השתתפות מהזום</li>
            <li>✔ השומה לב אישית</li>
            <li>✔ חזרה על ההשתלמות ללא עלות נוספת</li>
        </ul>
        <a href="Templates/register.html">
            <button class="pricing-button">לרכישה</button>
        </a>
    </div>
</div>



<!-- Sylabus Section -->
<div class="syllabus-container" dir="rtl">
    <h1>סילבוסים</h1>
    <p>
        מידע מקיף על ההשתלמויות ניתן למצוא בלחיצה על הכפתור מטה,
        אני ממליצה בחום ומעודדת אתכן לעבור על תכני ההשתלמויות השונות, משלב של הבנה ומעבר על חומרי הקורס,
        המידע המוצג נכתב כדי להעביר את מלוא המידע על ההשתלמות.
    </p>
    <a href="סילבוסים.pdf" download>
        <button class="syllabus-button">להורדת הסילבוסים</button>
    </a>
</div>


</body>
</html>
