<footer>
    <div class="footer-container">
        <div class="footer-section">
            <p>📞 052-8505104</p>
        </div>
        <div class="footer-section">
            <p>✉️ <a href="mailto:hilaflor46@gmail.com" target="_blank">hilaflor46@gmail.com</a></p>
        </div>
        <div class="footer-section social-icons">
            <a href="https://wa.me/972528525104" target="_blank">
                <img src="images/whatsapp.png" alt="WhatsApp">
            </a>
            <a href="https://www.facebook.com/hila.flormaduel" target="_blank">
                <img src="images/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/hilaflor46/" target="_blank">
                <img src="images/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</footer>